body {
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

header {
    font-size: 32px;
    color: #F9FAF8;
    align-self: center;
}

li {
    list-style: none;
    padding: 0px 0px 0px 24px;
}

img {
    max-width: 500px;
}

h1 {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
    margin: 0;
}

button {
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: #3882f6;
    width: 125px;
    height: 40px;
    border-radius: 10px;
    border-width: 0px;
}

#global_padding {
    padding-right: 264px;
    padding-left: 264px;
}

#title_subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 8px 0px 12px 0px;
}

#s5-div {
    padding: 0px 100px;
}

#img-placeholder-s2 {
    border: 2px solid gray;
    border-radius: 5px;
    width: 500px;
    height: 250px;
    background-color: gray;
}

#img-placeholder-s2 p {
    color: white;
    text-align: center;
}

#img-placeholder-s3 {
    border: 2px solid lightblue;
    border-radius: 5px;
    width: 200px;
    height: 225px;
}

.s1-header {
    height: 86px;
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}

.s1-header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.s1-header ul {
    display: flex;
    align-self: center;
}

.s2 {
    padding: 84px 0px;
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: space-between;
}

.s2-text {
    max-width: 600px;
}

.s3 {
    padding: 48px 0px;
    display: flex;
    flex-direction: column;
}

.s3 h2 {
    align-self: center;
    padding-bottom: 36px;
}

.s3-subsection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.s3-subsection.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s3-subsection.text p{
    width: 150px;
    text-align: center;
}

.s3 img {
    max-width: 150px;
}

.s4 {
    background-color: #E5E7EB;

}

.s4.quote{
    padding-top: 75px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

.s4.author{
    margin: 20px;
    font-weight: bold;
    text-align: right;
    padding-bottom: 75px;
}

.s5 {
    align-self: center;
    background-color: #3882f6;
    width: 1000px;
    margin: 100px 0px;
    border-radius: 5px;
    padding: 50px;
    
}

.s5-subdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s5-subdiv h3 {
    color: white;
    margin: 0;
}

.s5-subdiv p {
    color: white;
    margin: 0;
}

.s5 button{
    border-color: white;
    border-width: 2px;
    border-style:solid;
}

.s6-footer {
    background-color: #1F2937;
}

.s6-footer p {
    color: white;
    text-align: center;
}

